* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(45deg,#0a0a0a,#3a4452) ;
}


.calculator {
  border : 1px solid #717377;
  border-radius: 16px;
  box-shadow: 0 3 15px rgba(113, 115, 119, 0.5);
  background: transparent;
  padding: 20px;
  width: 400px;
}

.input{
  width:320px;
  color: #ffffff;
  box-shadow: 0px 3px 15px rgbs(84,84,84,0.1);
  padding: 24px;
  margin:10px;
  background: transparent;
  font-size: 40px;
  text-align: right;
  cursor: pointer;
}
.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.button {
  border: none;
  background: transparent;
  color: #ffffff;
  width: 60px;
  height:60px;
  border-radius: 50%;
  font-size: 20px;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.button:hover {
  background-color: #ccc;
}



.error {
  color: red;
}

.equals-button{
  border: none;
  background: transparent;
  color: #ffffff;
  grid-column: span 2;
  width: 60px;
  height:60px;
  font-size: 20px;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
  cursor: pointer;
  background-color: #fb7c14;
  width: 33%;

}
/* #equals{
  border: none;
  background: transparent;
  color: #ffffff;
  grid-column: span 2;
  width: 60px;
  height:60px;
  font-size: 20px;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
  cursor: pointer;
  background-color: #fb7c14;
  width: 33%;
} */
#add,#minus,#multiply,#divide,#mod{
  background-color: #60e083;
  /* color: ; */

}
#delete,#clear{
  background-color: red;
}



