* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(45deg,#0a0a0a,#3a4452) ;
}


.calculator {
  border : 1px solid #717377;
  border-radius: 16px;
  box-shadow: 0 3 15px rgba(113, 115, 119, 0.5);
  background: transparent;
  padding: 20px;
  width: 400px;
  position:  relative;
}

.input{
  width:320px;
  color: #ffffff;
  box-shadow: 0px 3px 15px rgbs(84,84,84,0.1);
  padding: 24px;
  margin:10px;
  background: transparent;
  font-size: 40px;
  text-align: right;
  cursor: pointer;
  overflow-y: scroll;
  overflow-wrap: break-word;
}
.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.button {
  border: none;
  background: transparent;
  color: #ffffff;
  width: 60px;
  height:60px;
  border-radius: 50%;
  font-size: 20px;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.button:hover {
  background-color: #ccc;
}



.error {
  color: red;
}

.equals-button{
  border: none;
  background: transparent;
  color: #ffffff;
  grid-column: span 2;
  width: 60px;
  height:60px;
  font-size: 20px;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
  cursor: pointer;
  background-color: #fb7c14;
  width: 33%;

}
/* #equals{
  border: none;
  background: transparent;
  color: #ffffff;
  grid-column: span 2;
  width: 60px;
  height:60px;
  font-size: 20px;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
  cursor: pointer;
  background-color: #fb7c14;
  width: 33%;
} */
#add,#minus,#multiply,#divide,#mod{
  background-color: #61b2d8;
  /* color: ; */

}
#delete,#clear{
  background-color: #ef476f;
}



#factorial,#power,#log,#pi,#sqrt,#exponent,#ceil,#floor,#absolute{
  background-color: #13b3a3;
  
}
#sin,#cos,#tan,#open-bracket,#close-bracket{
  background-color: #13b3a3;
  
}

.download-button {
  background-color: #13b3a3; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
  
  position: absolute;
  transform: translate(14%, 100%) translateX(25px);

}

.download-button:hover {
  background-color: #ef476f;
}
